In [2]:
from jenga.tasks.movies import PredictMovieRatingsTask

## Our task is to predict future movie ratings based on past ratings and genre information

In [3]:
task = PredictMovieRatingsTask()

The training data comprises of past user/item interactions, the corresponding ratings and genre information

In [5]:
task.advance_current_year()

train_data = task.current_new_train_data()
train_data

                        genres  year  user  movie
1119    Action|Sci-Fi|Thriller  2016     9    257
1120                     Drama  2016     9    314
1121                    Comedy  2016     9    506
1122           Horror|Thriller  2016     9    514
1123     Drama|Fantasy|Romance  2016     9    694
...                        ...   ...   ...    ...
100811                          2016   609   9238
100814                          2016   609   9268
100815                          2016   609   9274
100820                          2016   609   9307
100821                          2016   609   9312

[6703 rows x 4 columns]

In [7]:
train_ratings = task.current_new_train_ratings()
train_ratings

array([1. , 3.5, 4. , ..., 3.5, 2.5, 4.5], dtype=float32)

We provide a baseline model which computes embeddings of users and items

In [8]:
model = task.fit_baseline_model(train_data, train_ratings)

WARNING:tensorflow:From /home/ssc/Entwicklung/projects/jenga/env/lib/python3.6/site-packages/keras/backend/tensorflow_backend.py:422: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

Epoch 1/15
6703/6703 [==============================] - 2s 305us/step - loss: 1.2409
Epoch 2/15
6703/6703 [==============================] - 2s 296us/step - loss: 0.8239
Epoch 3/15
6703/6703 [==============================] - 2s 293us/step - loss: 0.7096
Epoch 4/15
6703/6703 [==============================] - 2s 291us/step - loss: 0.6400
Epoch 5/15
6703/6703 [==============================] - 2s 298us/step - loss: 0.5895
Epoch 6/15
6703/6703 [==============================] - 2s 291us/step - loss: 0.5523
Epoch 7/15
6703/6703 [==============================] - 2s 294us/step - loss: 0.5397
Epoch 8/15
6703/6703 [==============================] - 2s 290us/step - loss: 0.5130
Epoch 9/15
6703/6703 [==============================] - 2s 290us/step - loss: 0.4862
Epoch 10/15
6703/6703 [==============================] - 2s 291us/step - loss: 0.4825
Epoch 11/15
6703/6703 [==============================] - 2s 293us/step - loss: 0.4614
Epoch 12/15
6703/6703 [==============================] - 2s 292us/step - loss: 0.4584
Epoch 13/15
6703/6703 [==============================] - 2s 293us/step - loss: 0.4553
Epoch 14/15
6703/6703 [==============================] - 2s 294us/step - loss: 0.4505
Epoch 15/15
6703/6703 [==============================] - 2s 295us/step - loss: 0.4429

The test data comprises of held out ratings from the future

In [10]:
test_data = task.current_test_data()
test_data

                            genres  year  user  movie
1434    Adventure|Children|Fantasy  2017    14      0
1436          Comedy|Drama|Romance  2017    14     43
1440                         Drama  2017    14    224
1441              Mystery|Thriller  2017    14    254
1442        Action|Sci-Fi|Thriller  2017    14    257
...                            ...   ...   ...    ...
100831                              2017   609   9416
100832                              2017   609   9443
100833                              2017   609   9444
100834                              2017   609   9445
100835                              2017   609   9485

[8198 rows x 4 columns]

In [12]:
predicted_ratings = model.predict(test_data)
task.score_on_test_ratings(predicted_ratings)

1.2711102

We can check what happens when a large portion of the genre data is missing

In [13]:
from jenga.corruptions.text import MissingValues

missing_values_corruption = MissingValues(column='genres', fraction=0.8, na_value='')

corrupted_test_data = missing_values_corruption.transform(test_data)
corrupted_test_data

                            genres  year  user  movie
1434    Adventure|Children|Fantasy  2017    14      0
1436                                2017    14     43
1440                                2017    14    224
1441                                2017    14    254
1442                                2017    14    257
...                            ...   ...   ...    ...
100831                              2017   609   9416
100832                              2017   609   9443
100833                              2017   609   9444
100834                              2017   609   9445
100835                              2017   609   9485

[8198 rows x 4 columns]

In [14]:
predicted_ratings = model.predict(corrupted_test_data)
task.score_on_test_ratings(predicted_ratings)

1.2565356

### Here's how to run on the evaluation on all the slices of the data

In [15]:
task = PredictMovieRatingsTask()

missing_values_corruption = MissingValues(column='genres', fraction=0.8, na_value='')

while task.advance_current_year():
    train_data = task.current_accumulated_train_data()
    train_ratings = task.current_accumulated_train_ratings()
    
    model = task.fit_baseline_model(train_data, train_ratings)
    
    test_data = task.current_test_data()
    corrupted_test_data = missing_values_corruption.transform(test_data)
    
    predicted_ratings = model.predict(test_data)
    rmse_clean = task.score_on_test_ratings(predicted_ratings)

    predicted_ratings = model.predict(corrupted_test_data)
    rmse_corrupted = task.score_on_test_ratings(predicted_ratings)
    
    print('RMSE on clean test data', rmse_clean)
    print('RMSE on corrupted test data', rmse_corrupted)
    print('')

Epoch 1/15
79517/79517 [==============================] - 23s 284us/step - loss: 0.9456
Epoch 2/15
79517/79517 [==============================] - 22s 273us/step - loss: 0.7772
Epoch 3/15
79517/79517 [==============================] - 20s 245us/step - loss: 0.7415
Epoch 4/15
79517/79517 [==============================] - 16s 199us/step - loss: 0.7244
Epoch 5/15
79517/79517 [==============================] - 21s 261us/step - loss: 0.7112
Epoch 6/15
79517/79517 [==============================] - 18s 227us/step - loss: 0.7041
Epoch 7/15
79517/79517 [==============================] - 25s 309us/step - loss: 0.6965
Epoch 8/15
79517/79517 [==============================] - 25s 317us/step - loss: 0.6960
Epoch 9/15
79517/79517 [==============================] - 22s 273us/step - loss: 0.6906
Epoch 10/15
79517/79517 [==============================] - 23s 294us/step - loss: 0.6859
Epoch 11/15
79517/79517 [==============================] - 18s 231us/step - loss: 0.6836
Epoch 12/15
79517/79517 [==============================] - 20s 252us/step - loss: 0.6845
Epoch 13/15
79517/79517 [==============================] - 23s 290us/step - loss: 0.6804
Epoch 14/15
79517/79517 [==============================] - 20s 254us/step - loss: 0.6768
Epoch 15/15
79517/79517 [==============================] - 25s 318us/step - loss: 0.6790
RMSE on clean test data 0.88500464
RMSE on corrupted test data 0.8847652

Epoch 1/15
86220/86220 [==============================] - 28s 330us/step - loss: 0.9109
Epoch 2/15
86220/86220 [==============================] - 28s 319us/step - loss: 0.7705
Epoch 3/15
86220/86220 [==============================] - 28s 329us/step - loss: 0.7397
Epoch 4/15
86220/86220 [==============================] - 28s 327us/step - loss: 0.7220
Epoch 5/15
86220/86220 [==============================] - 28s 327us/step - loss: 0.7074
Epoch 6/15
86220/86220 [==============================] - 28s 326us/step - loss: 0.6948
Epoch 7/15
86220/86220 [==============================] - 28s 323us/step - loss: 0.6933
Epoch 8/15
86220/86220 [==============================] - 27s 313us/step - loss: 0.6867
Epoch 9/15
86220/86220 [==============================] - 28s 326us/step - loss: 0.6842
Epoch 10/15
86220/86220 [==============================] - 28s 319us/step - loss: 0.6813
Epoch 11/15
86220/86220 [==============================] - 26s 305us/step - loss: 0.6779
Epoch 12/15
86220/86220 [==============================] - 28s 326us/step - loss: 0.6763
Epoch 13/15
86220/86220 [==============================] - 28s 325us/step - loss: 0.6724
Epoch 14/15
86220/86220 [==============================] - 29s 334us/step - loss: 0.6725
Epoch 15/15
86220/86220 [==============================] - 24s 282us/step - loss: 0.6706
RMSE on clean test data 1.0500158
RMSE on corrupted test data 1.050098

Epoch 1/15
94418/94418 [==============================] - 14s 150us/step - loss: 0.9025
Epoch 2/15
94418/94418 [==============================] - 13s 139us/step - loss: 0.7597
Epoch 3/15
94418/94418 [==============================] - 14s 144us/step - loss: 0.7308
Epoch 4/15
94418/94418 [==============================] - 14s 143us/step - loss: 0.7144
Epoch 5/15
94418/94418 [==============================] - 14s 152us/step - loss: 0.7050
Epoch 6/15
94418/94418 [==============================] - 13s 137us/step - loss: 0.6985
Epoch 7/15
94418/94418 [==============================] - 13s 137us/step - loss: 0.6909
Epoch 8/15
94418/94418 [==============================] - 13s 133us/step - loss: 0.6874
Epoch 9/15
94418/94418 [==============================] - 12s 125us/step - loss: 0.6879
Epoch 10/15
94418/94418 [==============================] - 12s 125us/step - loss: 0.6881
Epoch 11/15
94418/94418 [==============================] - 12s 127us/step - loss: 0.6820
Epoch 12/15
94418/94418 [==============================] - 13s 134us/step - loss: 0.6800
Epoch 13/15
94418/94418 [==============================] - 13s 140us/step - loss: 0.6792
Epoch 14/15
94418/94418 [==============================] - 13s 140us/step - loss: 0.6755
Epoch 15/15
94418/94418 [==============================] - 13s 138us/step - loss: 0.6765
RMSE on clean test data 1.0796599
RMSE on corrupted test data 1.0797361