In [1]:
from sklearn.linear_model import SGDClassifier

from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

from jenga.basis import Dataset
from jenga.cleaning.ppp import PipelinePerformancePrediction

In [2]:
seed = 10

In [3]:
dataset = Dataset(seed, "credit-g")

Dataset 'credit-g', target: 'class'
**Author**: Dr. Hans Hofmann

**Source**: [UCI](https://archive.ics.uci.edu/ml/datasets/statlog+(german+credit+data)) - 1994

**Please cite**: [UCI](https://archive.ics.uci.edu/ml/citation_policy.html)



**German Credit data**

This dataset classifies people described by a set of attributes as good or bad credit risks.



This dataset comes with a cost matrix:

```

      Good  Bad (predicted)

Good   0    1   (actual)

Bad    5    0

```



It is worse to class a customer as go

Attribute types:

           attribute_names  categorical_indicator
0          checking_status                   True
1                 duration                  False
2           credit_history                   True
3                  purpose                   True
4            credit_amount                  False
5           savings_status                   True
6               employment                   True
7   installment_commitment                  False
8          personal_status                   True
9            other_parties                   True
10         residence_since                  False
11      property_magnitude                   True
12                     age                  False
13     other_payment_plans                   True
14                 housing                   True
15        existing_credits                  False
16                     job                   True
17          num_dependents                  False
18           own_telephone                   True
19          foreign_worker                   True

In [4]:
all_data = dataset.all_data
all_data

    checking_status  duration                  credit_history  ... own_telephone  foreign_worker class
0                <0       6.0  critical/other existing credit  ...           yes             yes  good
1          0<=X<200      48.0                   existing paid  ...          none             yes   bad
2       no checking      12.0  critical/other existing credit  ...          none             yes  good
3                <0      42.0                   existing paid  ...          none             yes  good
4                <0      24.0              delayed previously  ...          none             yes   bad
..              ...       ...                             ...  ...           ...             ...   ...
995     no checking      12.0                   existing paid  ...          none             yes  good
996              <0      30.0                   existing paid  ...           yes             yes  good
997     no checking      12.0                   existing paid  ...          none             yes  good
998              <0      45.0                   existing paid  ...           yes             yes   bad
999        0<=X<200      45.0  critical/other existing credit  ...          none             yes  good

[1000 rows x 21 columns]

In [5]:
attribute_names = dataset.attribute_names
attribute_names

['checking_status',
 'duration',
 'credit_history',
 'purpose',
 'credit_amount',
 'savings_status',
 'employment',
 'installment_commitment',
 'personal_status',
 'other_parties',
 'residence_since',
 'property_magnitude',
 'age',
 'other_payment_plans',
 'housing',
 'existing_credits',
 'job',
 'num_dependents',
 'own_telephone',
 'foreign_worker']

In [6]:
attribute_types = dataset.attribute_types
attribute_types

           attribute_names  categorical_indicator
0          checking_status                   True
1                 duration                  False
2           credit_history                   True
3                  purpose                   True
4            credit_amount                  False
5           savings_status                   True
6               employment                   True
7   installment_commitment                  False
8          personal_status                   True
9            other_parties                   True
10         residence_since                  False
11      property_magnitude                   True
12                     age                  False
13     other_payment_plans                   True
14                 housing                   True
15        existing_credits                  False
16                     job                   True
17          num_dependents                  False
18           own_telephone                   True
19          foreign_worker                   True

In [7]:
categorical_columns = dataset.categorical_columns
categorical_columns

['checking_status',
 'credit_history',
 'purpose',
 'savings_status',
 'employment',
 'personal_status',
 'other_parties',
 'property_magnitude',
 'other_payment_plans',
 'housing',
 'job',
 'own_telephone',
 'foreign_worker']

In [8]:
numerical_columns = dataset.numerical_columns
numerical_columns

['duration',
 'credit_amount',
 'installment_commitment',
 'residence_since',
 'age',
 'existing_credits',
 'num_dependents']

In [9]:
# model parameters
learner = SGDClassifier(max_iter=1000)
param_grid = {
    'learner__loss': ['log'],
    'learner__penalty': ['l2', 'l1', 'elasticnet'],
    'learner__alpha': [0.0001, 0.001, 0.01, 0.1]
}

In [17]:
# preprocessing pipeline for numerical columns
transformer_numeric = Pipeline([
    ('imputer', SimpleImputer(strategy='constant', fill_value=0)),
    ('standard_scale', StandardScaler())
])

# preprocessing pipeline for categorical columns
transformer_categorical = Pipeline([
    ('imputer', SimpleImputer(strategy='constant', fill_value='__NA__')),
    ('one_hot_encode', OneHotEncoder(handle_unknown='ignore'))
])

# preprocessor
feature_transform = ColumnTransformer(transformers=[
    ('categorical_features', transformer_categorical, categorical_columns),
    ('numerical_features', transformer_numeric, numerical_columns)
])

## prediction pipeline: append classifier (learner) to the preprocessing pipeline
pipeline = Pipeline([
    ('features', feature_transform),
    ('learner', learner)
])

In [10]:
# test without given pipeline
ppp = PipelinePerformancePrediction(seed, dataset, categorical_columns, numerical_columns, learner, param_grid)

In [11]:
train_data = ppp.train_data
train_labels = ppp.train_labels

test_data = ppp.test_data
test_labels = ppp.test_labels


display(train_data.head())
print(train_labels[0:5])

display(test_data.head())
print(test_labels[0:5])

    checking_status  duration                  credit_history  ... num_dependents  own_telephone foreign_worker
188              <0      12.0                   existing paid  ...            1.0           none            yes
194        0<=X<200      45.0                   existing paid  ...            1.0           none            yes
225     no checking      36.0             no credits/all paid  ...            1.0           none            yes
580        0<=X<200      18.0  critical/other existing credit  ...            1.0           none            yes
428     no checking       9.0                   existing paid  ...            1.0           none            yes

[5 rows x 20 columns]

['bad' 'bad' 'good' 'bad' 'good']

    checking_status  duration                  credit_history  ... num_dependents  own_telephone foreign_worker
841     no checking      21.0              delayed previously  ...            1.0           none            yes
956           >=200      30.0  critical/other existing credit  ...            1.0           none            yes
544     no checking      12.0  critical/other existing credit  ...            1.0           none            yes
173        0<=X<200       8.0                   existing paid  ...            1.0           none             no
759              <0      12.0  critical/other existing credit  ...            1.0           none            yes

[5 rows x 20 columns]

['good' 'good' 'good' 'good' 'bad']

In [12]:
pipeline = ppp.pipeline
pipeline

Pipeline(memory=None,
         steps=[('features',
                 ColumnTransformer(n_jobs=None, remainder='drop',
                                   sparse_threshold=0.3,
                                   transformer_weights=None,
                                   transformers=[('categorical_features',
                                                  Pipeline(memory=None,
                                                           steps=[('imputer',
                                                                   SimpleImputer(add_indicator=False,
                                                                                 copy=True,
                                                                                 fill_value='__NA__',
                                                                                 missing_values=nan,
                                                                                 strategy='constant',
                                                                                 verbose=0)),
                                                                  ('one_hot_encode',
                                                                   OneHotE...
                 SGDClassifier(alpha=0.0001, average=False, class_weight=None,
                               early_stopping=False, epsilon=0.1, eta0=0.0,
                               fit_intercept=True, l1_ratio=0.15,
                               learning_rate='optimal', loss='hinge',
                               max_iter=1000, n_iter_no_change=5, n_jobs=None,
                               penalty='l2', power_t=0.5, random_state=None,
                               shuffle=True, tol=0.001, validation_fraction=0.1,
                               verbose=0, warm_start=False))],
         verbose=False)

In [13]:
# model trained on original train data
model_orig = ppp.fit_ppp(train_data)

Fitting 5 folds for each of 12 candidates, totalling 60 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:    5.4s
[Parallel(n_jobs=-1)]: Done  60 out of  60 | elapsed:    5.7s finished

In [14]:
# generate corrpted test data
test_data_corrupted, perturbations, cols_perturbed = ppp.get_corrupted(test_data)

Generating corrupted training data on 200 rows...
Applying perturbations...
GaussianNoise: {'column': 'residence_since', 'fraction': 0.25} on column ['residence_since']
MissingValues: {'column': 'credit_history', 'fraction': 0.5, 'na_value': nan, 'missingness': 'MAR'} on column ['credit_history']
GaussianNoise: {'column': 'duration', 'fraction': 0.25} on column ['duration']
MissingValues: {'column': 'credit_amount', 'fraction': 0.75, 'na_value': nan, 'missingness': 'MAR'} on column ['credit_amount']
SwappedValues: {'column_a': 'housing', 'column_b': 'personal_status', 'fraction': 0.25} on column ['housing', 'personal_status']

In [15]:
# score on original test data
ppp.predict_score_ppp(model_orig, test_data)

0.8093735390369332

In [16]:
# score on corrupted test data
ppp.predict_score_ppp(model_orig, test_data_corrupted)

0.791023842917251