In [1]:
!pip install openml

Requirement already satisfied: openml in d:\users\rupal\anaconda3\lib\site-packages (0.10.2)
Requirement already satisfied: requests in d:\users\rupal\anaconda3\lib\site-packages (from openml) (2.18.4)
Requirement already satisfied: scipy>=0.13.3 in d:\users\rupal\anaconda3\lib\site-packages (from openml) (1.2.0)
Requirement already satisfied: python-dateutil in d:\users\rupal\anaconda3\lib\site-packages (from openml) (2.7.5)
Requirement already satisfied: pandas>=0.19.2 in d:\users\rupal\anaconda3\lib\site-packages (from openml) (0.25.3)
Requirement already satisfied: scikit-learn>=0.18 in d:\users\rupal\anaconda3\lib\site-packages (from openml) (0.22.1)
Requirement already satisfied: liac-arff>=2.4.0 in d:\users\rupal\anaconda3\lib\site-packages (from openml) (2.4.0)
Requirement already satisfied: numpy>=1.6.2 in d:\users\rupal\anaconda3\lib\site-packages (from openml) (1.16.4)
Requirement already satisfied: xmltodict in d:\users\rupal\anaconda3\lib\site-packages (from openml) (0.12.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in d:\users\rupal\anaconda3\lib\site-packages (from requests->openml) (3.0.4)
Requirement already satisfied: idna<2.7,>=2.5 in d:\users\rupal\anaconda3\lib\site-packages (from requests->openml) (2.6)
Requirement already satisfied: certifi>=2017.4.17 in d:\users\rupal\anaconda3\lib\site-packages (from requests->openml) (2019.9.11)
Requirement already satisfied: urllib3<1.23,>=1.21.1 in d:\users\rupal\anaconda3\lib\site-packages (from requests->openml) (1.22)
Requirement already satisfied: six>=1.5 in d:\users\rupal\anaconda3\lib\site-packages (from python-dateutil->openml) (1.12.0)
Requirement already satisfied: pytz>=2017.2 in d:\users\rupal\anaconda3\lib\site-packages (from pandas>=0.19.2->openml) (2018.9)
Requirement already satisfied: joblib>=0.11 in d:\users\rupal\anaconda3\lib\site-packages (from scikit-learn>=0.18->openml) (0.15.1)

WARNING: You are using pip version 19.3.1; however, version 20.1.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [15]:
import openml
import pandas as pd

In [3]:
data = openml.datasets.get_dataset("credit-g")

In [4]:
data

OpenML Dataset
==============
Name..........: credit-g
Version.......: 1
Format........: ARFF
Upload Date...: 2014-04-06 23:21:47
Licence.......: Public
Download URL..: https://www.openml.org/data/v1/download/31/credit-g.arff
OpenML URL....: https://www.openml.org/d/31
# of features.: 21
# of instances: 1000

In [5]:
## summary
print(f"Dataset '{data.name}', target: '{data.default_target_attribute}'")
print(data.description[:500])

Dataset 'credit-g', target: 'class'
**Author**: Dr. Hans Hofmann
**Source**: [UCI](https://archive.ics.uci.edu/ml/datasets/statlog+(german+credit+data)) - 1994
**Please cite**: [UCI](https://archive.ics.uci.edu/ml/citation_policy.html)

**German Credit data**
This dataset classifies people described by a set of attributes as good or bad credit risks.

This dataset comes with a cost matrix:
```
      Good  Bad (predicted)
Good   0    1   (actual)
Bad    5    0
```

It is worse to class a customer as good when they a

In [6]:
## load the data
# X: An array/dataframe where each row represents one example with the corresponding feature values
# y: the classes for each example
# categorical_indicator - an array that indicates which feature is categorical
# attribute_names - the names of the features for the examples(X) and target feature (y)

X, y, categorical_indicator, attribute_names = data.get_data(
    dataset_format='dataframe',
    target=data.default_target_attribute
)

In [7]:
X

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,residence_since,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker
0,<0,6.0,critical/other existing credit,radio/tv,1169.0,no known savings,>=7,4.0,male single,none,4.0,real estate,67.0,none,own,2.0,skilled,1.0,yes,yes
1,0<=X<200,48.0,existing paid,radio/tv,5951.0,<100,1<=X<4,2.0,female div/dep/mar,none,2.0,real estate,22.0,none,own,1.0,skilled,1.0,none,yes
2,no checking,12.0,critical/other existing credit,education,2096.0,<100,4<=X<7,2.0,male single,none,3.0,real estate,49.0,none,own,1.0,unskilled resident,2.0,none,yes
3,<0,42.0,existing paid,furniture/equipment,7882.0,<100,4<=X<7,2.0,male single,guarantor,4.0,life insurance,45.0,none,for free,1.0,skilled,2.0,none,yes
4,<0,24.0,delayed previously,new car,4870.0,<100,1<=X<4,3.0,male single,none,4.0,no known property,53.0,none,for free,2.0,skilled,2.0,none,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,no checking,12.0,existing paid,furniture/equipment,1736.0,<100,4<=X<7,3.0,female div/dep/mar,none,4.0,real estate,31.0,none,own,1.0,unskilled resident,1.0,none,yes
996,<0,30.0,existing paid,used car,3857.0,<100,1<=X<4,4.0,male div/sep,none,4.0,life insurance,40.0,none,own,1.0,high qualif/self emp/mgmt,1.0,yes,yes
997,no checking,12.0,existing paid,radio/tv,804.0,<100,>=7,4.0,male single,none,4.0,car,38.0,none,own,1.0,skilled,1.0,none,yes
998,<0,45.0,existing paid,radio/tv,1845.0,<100,1<=X<4,4.0,male single,none,4.0,no known property,23.0,none,for free,1.0,skilled,1.0,yes,yes
999,0<=X<200,45.0,critical/other existing credit,used car,4576.0,100<=X<500,unemployed,3.0,male single,none,4.0,car,27.0,none,own,1.0,skilled,1.0,none,yes

In [8]:
y

0      good
1       bad
2      good
3      good
4       bad
       ...
995    good
996    good
997    good
998     bad
999    good
Name: class, Length: 1000, dtype: category
Categories (2, object): [good < bad]

In [19]:
all_data = X.copy(deep=True)
all_data['class'] = y
all_data

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,<0,6.0,critical/other existing credit,radio/tv,1169.0,no known savings,>=7,4.0,male single,none,...,real estate,67.0,none,own,2.0,skilled,1.0,yes,yes,good
1,0<=X<200,48.0,existing paid,radio/tv,5951.0,<100,1<=X<4,2.0,female div/dep/mar,none,...,real estate,22.0,none,own,1.0,skilled,1.0,none,yes,bad
2,no checking,12.0,critical/other existing credit,education,2096.0,<100,4<=X<7,2.0,male single,none,...,real estate,49.0,none,own,1.0,unskilled resident,2.0,none,yes,good
3,<0,42.0,existing paid,furniture/equipment,7882.0,<100,4<=X<7,2.0,male single,guarantor,...,life insurance,45.0,none,for free,1.0,skilled,2.0,none,yes,good
4,<0,24.0,delayed previously,new car,4870.0,<100,1<=X<4,3.0,male single,none,...,no known property,53.0,none,for free,2.0,skilled,2.0,none,yes,bad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,no checking,12.0,existing paid,furniture/equipment,1736.0,<100,4<=X<7,3.0,female div/dep/mar,none,...,real estate,31.0,none,own,1.0,unskilled resident,1.0,none,yes,good
996,<0,30.0,existing paid,used car,3857.0,<100,1<=X<4,4.0,male div/sep,none,...,life insurance,40.0,none,own,1.0,high qualif/self emp/mgmt,1.0,yes,yes,good
997,no checking,12.0,existing paid,radio/tv,804.0,<100,>=7,4.0,male single,none,...,car,38.0,none,own,1.0,skilled,1.0,none,yes,good
998,<0,45.0,existing paid,radio/tv,1845.0,<100,1<=X<4,4.0,male single,none,...,no known property,23.0,none,for free,1.0,skilled,1.0,yes,yes,bad
999,0<=X<200,45.0,critical/other existing credit,used car,4576.0,100<=X<500,unemployed,3.0,male single,none,...,car,27.0,none,own,1.0,skilled,1.0,none,yes,good

In [10]:
attribute_names

['checking_status',
 'duration',
 'credit_history',
 'purpose',
 'credit_amount',
 'savings_status',
 'employment',
 'installment_commitment',
 'personal_status',
 'other_parties',
 'residence_since',
 'property_magnitude',
 'age',
 'other_payment_plans',
 'housing',
 'existing_credits',
 'job',
 'num_dependents',
 'own_telephone',
 'foreign_worker']

In [11]:
categorical_indicator

[True,
 False,
 True,
 True,
 False,
 True,
 True,
 False,
 True,
 True,
 False,
 True,
 False,
 True,
 True,
 False,
 True,
 False,
 True,
 True]

In [30]:
attribute_types = pd.DataFrame(attribute_names, columns=["attribute_names"])
attribute_types['categorical_indicator'] = categorical_indicator
display(attribute_types)

           attribute_names  categorical_indicator
0          checking_status                   True
1                 duration                  False
2           credit_history                   True
3                  purpose                   True
4            credit_amount                  False
5           savings_status                   True
6               employment                   True
7   installment_commitment                  False
8          personal_status                   True
9            other_parties                   True
10         residence_since                  False
11      property_magnitude                   True
12                     age                  False
13     other_payment_plans                   True
14                 housing                   True
15        existing_credits                  False
16                     job                   True
17          num_dependents                  False
18           own_telephone                   True
19          foreign_worker                   True

In [33]:
def get_alldata(dataset_name):
    ''' Get dataset from the OpenML Datasets and tranform it for use.
    Params:
    dataset_name: str: name of the dataset
    
    Returns:
    all_data: dataframe: combined data and labels
    attribute_names: list: names of attributes from the data
    '''
    
    data = openml.datasets.get_dataset(dataset_name)
    
    ## summary
    print(f"Dataset '{data.name}', target: '{data.default_target_attribute}'")
    print(data.description[:500])
    
    ## load the data
    # X: An array/dataframe where each row represents one example with the corresponding feature values
    # y: the classes for each example
    # categorical_indicator - an array that indicates which feature is categorical
    # attribute_names - the names of the features for the examples(X) and target feature (y)
    X, y, categorical_indicator, attribute_names = data.get_data(
        dataset_format='dataframe',
        target=data.default_target_attribute
    )
    
    attribute_types = pd.DataFrame(attribute_names, columns=["attribute_names"])
    attribute_types['categorical_indicator'] = categorical_indicator
    print("\nAttribute types: ")
    display(attribute_types)
    
    all_data = X.copy(deep=True)
    all_data['class'] = y
    
    return all_data, attribute_names

In [37]:
## test credit-g dataset (openML)
all_data, attribute_names = get_alldata("credit-g")
print(attribute_names)
all_data

Dataset 'credit-g', target: 'class'
**Author**: Dr. Hans Hofmann

**Source**: [UCI](https://archive.ics.uci.edu/ml/datasets/statlog+(german+credit+data)) - 1994

**Please cite**: [UCI](https://archive.ics.uci.edu/ml/citation_policy.html)



**German Credit data**

This dataset classifies people described by a set of attributes as good or bad credit risks.



This dataset comes with a cost matrix:

```

      Good  Bad (predicted)

Good   0    1   (actual)

Bad    5    0

```



It is worse to class a customer as go

Attribute types:

           attribute_names  categorical_indicator
0          checking_status                   True
1                 duration                  False
2           credit_history                   True
3                  purpose                   True
4            credit_amount                  False
5           savings_status                   True
6               employment                   True
7   installment_commitment                  False
8          personal_status                   True
9            other_parties                   True
10         residence_since                  False
11      property_magnitude                   True
12                     age                  False
13     other_payment_plans                   True
14                 housing                   True
15        existing_credits                  False
16                     job                   True
17          num_dependents                  False
18           own_telephone                   True
19          foreign_worker                   True

['checking_status', 'duration', 'credit_history', 'purpose', 'credit_amount', 'savings_status', 'employment', 'installment_commitment', 'personal_status', 'other_parties', 'residence_since', 'property_magnitude', 'age', 'other_payment_plans', 'housing', 'existing_credits', 'job', 'num_dependents', 'own_telephone', 'foreign_worker']

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,<0,6.0,critical/other existing credit,radio/tv,1169.0,no known savings,>=7,4.0,male single,none,...,real estate,67.0,none,own,2.0,skilled,1.0,yes,yes,good
1,0<=X<200,48.0,existing paid,radio/tv,5951.0,<100,1<=X<4,2.0,female div/dep/mar,none,...,real estate,22.0,none,own,1.0,skilled,1.0,none,yes,bad
2,no checking,12.0,critical/other existing credit,education,2096.0,<100,4<=X<7,2.0,male single,none,...,real estate,49.0,none,own,1.0,unskilled resident,2.0,none,yes,good
3,<0,42.0,existing paid,furniture/equipment,7882.0,<100,4<=X<7,2.0,male single,guarantor,...,life insurance,45.0,none,for free,1.0,skilled,2.0,none,yes,good
4,<0,24.0,delayed previously,new car,4870.0,<100,1<=X<4,3.0,male single,none,...,no known property,53.0,none,for free,2.0,skilled,2.0,none,yes,bad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,no checking,12.0,existing paid,furniture/equipment,1736.0,<100,4<=X<7,3.0,female div/dep/mar,none,...,real estate,31.0,none,own,1.0,unskilled resident,1.0,none,yes,good
996,<0,30.0,existing paid,used car,3857.0,<100,1<=X<4,4.0,male div/sep,none,...,life insurance,40.0,none,own,1.0,high qualif/self emp/mgmt,1.0,yes,yes,good
997,no checking,12.0,existing paid,radio/tv,804.0,<100,>=7,4.0,male single,none,...,car,38.0,none,own,1.0,skilled,1.0,none,yes,good
998,<0,45.0,existing paid,radio/tv,1845.0,<100,1<=X<4,4.0,male single,none,...,no known property,23.0,none,for free,1.0,skilled,1.0,yes,yes,bad
999,0<=X<200,45.0,critical/other existing credit,used car,4576.0,100<=X<500,unemployed,3.0,male single,none,...,car,27.0,none,own,1.0,skilled,1.0,none,yes,good

In [38]:
## test blood-transfusion-service-center dataset (openML)
all_data_bloodtransfusion, attribute_names_bloodtransfusion = get_alldata("blood-transfusion-service-center")
print(attribute_names_bloodtransfusion)
all_data_bloodtransfusion

Dataset 'blood-transfusion-service-center', target: 'Class'
**Author**: Prof. I-Cheng Yeh
**Source**: [UCI](https://archive.ics.uci.edu/ml/datasets/Blood+Transfusion+Service+Center)
**Please cite**: Yeh, I-Cheng, Yang, King-Jang, and Ting, Tao-Ming, "Knowledge discovery on RFM model using Bernoulli sequence", Expert Systems with Applications, 2008.

**Blood Transfusion Service Center Data Set**
Data taken from the Blood Transfusion Service Center in Hsin-Chu City in Taiwan -- this is a classification problem.

To demonstrate the RFMTC marketing

Attribute types:

  attribute_names  categorical_indicator
0              V1                  False
1              V2                  False
2              V3                  False
3              V4                  False

['V1', 'V2', 'V3', 'V4']

       V1    V2       V3    V4 class
0     2.0  50.0  12500.0  98.0     2
1     0.0  13.0   3250.0  28.0     2
2     1.0  16.0   4000.0  35.0     2
3     2.0  20.0   5000.0  45.0     2
4     1.0  24.0   6000.0  77.0     1
..    ...   ...      ...   ...   ...
743  23.0   2.0    500.0  38.0     1
744  21.0   2.0    500.0  52.0     1
745  23.0   3.0    750.0  62.0     1
746  39.0   1.0    250.0  39.0     1
747  72.0   1.0    250.0  72.0     1

[748 rows x 5 columns]